checkpoints/
dataset/
embedding/
results/
__pycache__/
*.py[cod]
*$py.class
data.ipynb
dummy.ipynb
.ipynb_checkpoints/
.pytest_cache/
.coverage
htmlcov/
.env
.venv
env/
venv/
ENV/
.DS_Store
config.yaml
*test7/
*test8/
*exp_result/
*.pdf
*.png
*.txt
*.npy
*.log
data/
