checkpoints/
dataset/
embedding/
results/
__pycache__/
*.py[cod]
*$py.class
data.ipynb
dummy.ipynb
.ipynb_checkpoints/
.pytest_cache/
.coverage
htmlcov/
.env
.venv
env/
venv/
ENV/
.DS_Store
config.yaml
